name: simple-ci

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 23f1000632@ds.study.iitm.ac.in
        run: echo "Hello from GitHub Actions"
